# FileName=quay-postgres.container
[Unit]
Description=PostgreSQL database for Quay container registry
Wants=systemd-networkd.socket network.target

[Container]
ContainerName=quay-postgres
Image=quay.io/sclorg/postgresql-15-c9s:latest
LogDriver=k8s-file
PodmanArgs=--log-opt max-size=20m --log-opt max-files=3
Network=host
Volume=/home/mariam/app-data/quay/postgres:/var/lib/pgsql/data:Z
Environment=POSTGRESQL_USER=quay
Environment=POSTGRESQL_PASSWORD=test
Environment=POSTGRESQL_DATABASE=quay

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
